<div class="p-2">
  <div class="card">
    <div class="card-header">
      {{office.name}}
      <button (click)="delOffice()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <h6 class="card-title">Location : </h6>
      <p class="card-text">
        Lat - {{office.lat}}
        <br>
        Log - {{office.log}}
      </p>
      <h6 class="card-title">Office Start Date : </h6>
      <p class="card-text">{{office.date}}</p>
    </div>
  </div>
</div>
